* {
    box-sizing: border-box;
}
@font-face {
    font-family: motorOil;
    src: url(MotorOil.ttf);
}
@font-face {
    font-family: Catull;
    src: url(Catull.ttf);
}
@font-face {
    font-family: PetitaBold;
    src: url(PetitaBold.ttf);
}
@font-face {
    font-family: PetitaLight;
    src: url(PetitaLight.ttf);
}
@font-face {
    font-family: PetitaMedium;
    src: url(PetitaMedium.ttf);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "PetitaLight", "Times", sans-serif;
}
ul,li,h1,h2,h3,h4,h5,h6,p,img,a{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media only screen and (min-width: 992px){
.container {
    height: 100%;
    background-image: url(pattern.png);
}
/*  Pitstop */
header {
    background-color: #009688;
    width: 100%;
    position: fixed;
    z-index: 1000;
    -moz-box-shadow: 0 0 10px #006e64;
    -webkit-box-shadow: 0 0 10px #006e64;
    box-shadow: 0 0 10px #006e64;
    opacity: 1;
}
nav img {
    height: 75px;
    width: 50px;
    margin-left: 20px;;
}
nav li {
    width: 100px;
    font-size: 14px;
    font-family: 'PetitaMedium', sans-serif;
    padding: 10px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
}
nav li:nth-child(1), nav li:nth-child(2){
    float: left;
}
nav li:nth-child(4), nav li:nth-child(3){
    float: right;
}
nav ul {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.5em;
}
nav li a {
    color: #fff;
}
nav li:hover {
    background-color:#007066;
    width: 100px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
    
.overflow {
    float: left;
    display: none;
    border: 1px solid #ebebeb;
}
.bar {
    width: 50px;
    height: 10px;
    background-color: #999;
    border-radius: 10px;
}
.overflow .bar:nth-child(1){
    margin-bottom: 5px;    
}
.overflow .bar:nth-child(2){
    margin-bottom: 5px;    
}    
    
/*     PAGE 1 - BANNER     */

    
.page1-container {
    height: 100%;
    top: 30%;
    position: relative;
}
.page1-wrapper {
    width: 100%;
    max-width: 940px;
    text-align: center;
    margin: 0 auto;
}
.page1-description {
    color: #009688;
    width: 450px;
    float: left;
    margin-top: 50px;
}
.page1-description h1{
    font-size: 110px;
    font-family: motorOil;
    font-weight: 300;
    text-align: left;
}
.page1-description p:nth-child(2) {
    font-size: 32px;
    font-family: PetitaLight;
    margin-top: -20px;
    text-align: left;
}
.page1-description p:nth-child(3) {
    font-size: 24px;
    font-family: Segoe Ui;
    text-align: center;
    margin: 40px 0;
}
.page1-container .banner {
    background-image: url(tp-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    height: 490px;
    width: 470px;
}
.page1-container img{
    padding: 5px;
    text-align: center;
    -webkit-filter: brightness(1);
}
.page1-container img:hover{
    -webkit-filter: brightness(0.7);
}
.appstore {
    pointer-events: none;
    cursor: default;
    opacity: 0.5
}

/*     PAGE 2 - FEATURETTE     */
.page2-container {
    background-color: #009688;
    width: 100%;
    padding: 5em;
    height: 700px;
    text-align: center;
    color: #fff;
}
.page2-container .title-page2{
    font-size: 40px;
    font-family: PetitaMedium;
    color: #fff;
}
.page2-container .centering{
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
}
.featurette {
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}
.featurette-item {
   float: left;
    padding: 2em;
}

.featurette-item .icon1 {
    background-image: url(stayupdated.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    background-color: #00796b;
    border-radius: 5px;
}
.featurette-item .icon2 {
    background-image: url(planahead.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
        background-color: #00796b;
        border-radius: 5px;
}
.featurette-item .icon3 {
    background-image: url(beinformed.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    background-color: #00796b;
    border-radius: 5px;
}
.featurette-item .icon4 {
    background-image: url(needabreak.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    background-color: #00796b;
    border-radius: 5px;
}
.featurette-item .icon {
    height: 200px;
    width: 200px;
    /*background-color: #ccc;*/
    /*border-radius: 50%;*/
    margin: 0 auto;
}
.featurette-description{
    width: 200px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    line-height: 2;
}
.featurette-item h1{
    font-family: PetitaMedium;
    font-size: 20px;
    margin-top: 10px;
}
.featurette-item p{
    font-family: Segoe Ui;
    font-size: 14px;
}
    
/*     PAGE 3 - PARTNERS AND ENLISTING     */
.page3-container {
    background-image: url(pattern.png);
}
.partners-container {
    color: #fff;
    padding: 0.5em 0 6em 0;
}
.partners {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.partners h1 {
    color: #009688;
    font-family: PetitaMedium;
    font-size: 40px;
    text-align: center;
    padding: 3em 0 1em 0;
    margin: 0;
}
.partners-item p{
    display: inline-block
}
.partners .petron{
    background-image: url(Petron_gray.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
}
.partners .motolite{
    background-image: url(Motolite_gray.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
}
.partners .rapide{
    background-image: url(Rapide_gray.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
}
.partners .yokohama{
    background-image: url(yokohama-gray.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
}
/*    ENLISTING BUSINESS     */    
.enlist-business {
    background-image: url(banner-enlist.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;;
    padding: 5em;
}
.enlist-description {
    color: #fff;
    text-align: center;
    top: 20%;
    position: relative;
}
.enlist-description h1 {
    font-size: 50px;
}
.enlist-description h1:nth-child(2) {
    margin-bottom: 1.5em;
}
.enlist-description p {
    font-size: 24px;
    font-family: Segoe Ui;
}
.enlist-description p:nth-child(4){
    margin-bottom: 0.5em;
}
.enlist-business input[type="button"] {
    border: none;
    background-color: #009688;
    color: #fff;
    font-size: 20px;
    widtH: 250px;
    height: 65px;
    outline: none;
    -webkit-filter: brightness(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.enlist-business input[type="button"]:hover{
    -webkit-filter: brightness(0.8);
}
    
    
/*     PAGE 4 - FEEDBACK     */
.page4-container {
    width: 100%;
    height: auto;
    background-color: #31404a;
    padding: 4em;
}
.feedback {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.feedback h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.feedback p{
    text-align: center;
}
.feedback input[type="text"] {
    font-family: "PetitaLight", "Times", sans-serif;
    color: #fff;
    width: 450px;
    height: 70px;
    background-color: #2b3841 ;
    border: none;
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.feedback textarea {
    font-family: "PetitaLight", "Times", sans-serif;
    width: 920px;
    height: 250px;
    background-color: #2b3841;
    color: #fff;
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    resize: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    outline: none;
    border: none;
}
.feedback input[type="text"]:focus, .feedback textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
.btnFeedback {
    width: 165px;
    height: 55px;
    background-color: #009688;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px; 
    font-family: "PetitaLight", "Times", sans-serif;
    margin-top: 20px;
    -webkit-filter: brightness(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btnFeedback:hover {
    -webkit-filter: brightness(0.9);
}
.fullname {
    background-image: url(before_fullname.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.companyname {
    background-image: url(before_companyname.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.emailadd {
    background-image: url(before_emailadd.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.phonenumber {
    background-image: url(before_phonenumber.png);
    background-repeat: no-repeat;
   background-position: 95%;
}
.message {
    background-image: url(before_message.png);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 7%;
    background-color: #2b3841;
}
.fullname:hover, .fullname:focus {
    background-image: url(fullname.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.companyname:hover, .companyname:focus {
    background-image: url(companyname.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.phonenumber:hover ,.phonenumber:focus{
    background-image: url(phonenumber.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.emailadd:hover , .emailadd:focus {
    background-image: url(emailadd.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.message:hover , .message:focus {
    background-image: url(message.png);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 7%;
    background-color: #2b3841;
}
    
/*     PAGE 5 - FOOTER     */    
.page5-container {
    width: 100%;
    height: 250px;
    background-color: #2b3841;
    color: #fff;
    font-family: Segoe Ui;
    font-weight: lighter;
    font-weight: 300;
    padding: 2em;
}
.footer {
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
}
.footer-content h1 {
    font-family: PetitaLight;
    font-size: 40px;
    text-align: center;
    line-height: 1.428;
}
.footer-content p{
    font-size: 20px;
    font-family: Segoe Ui;
    font-weight: lighter;
    font-weight: 300;
    line-height: 1.428;
}
.footer-content .pull-left{
    float: left;
    margin-left: 50px;
}
.footer-content .pull-right{
    float: right;
}
.footer-content a {
    color: #00bbc9;
}
.social-links li a {
    background-image: url(before_social-links.png);
    display: block;
    text-decoration: none;
    width: 23px;
    height: 23px;
}
.social-links {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 162px;
    margin-left: -1px;
}
.social-links li{
    display: inline-block;
    float: left;
    padding: 0px 2px;
}

.social-links li a:hover,.social-links li a:focus {
    background-image: url(social-links.png);
    display: block;
    text-decoration: none;
    width: 23px;
    height: 23px;
}
.social-links li a.facebook {
    background-position: 0 0;
}
.social-links li a.instagram {
    background-position: -23px 0;
}
.social-links li a.linkedin {
    background-position: -46px 0;
}
.social-links li a.twitter {
    background-position: -69px 0;
}
.social-links li a.youtube {
    background-position:  -92px 0;
}
.social-links li a.tumblr {
    background-position: 23px 0;
}

.social-links li a.facebook:hover, .social-links li a.facebook:focus {
    background-position: 0 0;
}
.social-links li a.instagram:hover, .social-links li a.instagram:focus  {
    background-position: -23px 0;
}
.social-links li a.linkedin:hover, .social-links li a.linkedin:focus {
    background-position: -46px 0;
}
.social-links li a.twitter:hover, .social-links li a.twitter:focus {
    background-position: -69px 0;
}
.social-links li a.youtube:hover, .social-links li a.youtube:focus {
    background-position:  -92px 0;
}
.social-links li a.tumblr:hover, .social-links li a.tumblr:focus {
    background-position: 23px 0;
}
    
footer {
    text-align: center;
    padding: 2em;
    width: 100%;
    background-color: #2b3841;
    color: #fff;
}
footer a {
    color: #00bbc9;
    font-size: 16px;
} 
.page2-container:before {
    display:block;
    content: " ";
    margin-top: -180px;
    height: 285px;
    visibility: hidden;
}
.page3-container:before {
    display:block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}
.enlist-business:before {
    display:block;
    content: " ";
    visibility: hidden;
}
    
/*     FOR MOBILE & TABLET     */    
}/*     END OF MEDIA QUERY-1224px     */