* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: "Roboto";
}
.main_header {
  width: 100%;
  height: 50px;
  background-color: #00796b;
  box-shadow: 0 2px 1px rgba(100,100,100,0.75);
  z-index: 100;
  position: fixed;
}
.main_header .pitstop-logo {
  margin-top: 5px;
  margin-left: 25px;
}
.ng-scope {
  height: 100%;
}
.container {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #245269;
  z-index: 10;
  position: relative;
}
.container .angular-google-map {
  height: 100%;
  width: 100%;
}
.container .angular-google-map-container {
  width: 100%;
  height: 100%;
}
.menu {
  width: 40px;
  height: 100%;
  float: right;
  margin-right: 10px;
  padding-top: 10px;
}
.menu .circle {
  margin: 0 auto;
  width: 5px;
  height: 5px;
  background-color: #004d40;
  position: relative;
  border-radius: 100%;
}
.menu .circle:not(last-child) {
  margin-bottom: 5px;
}
.estab-info {
  color: #fff;
  background-color: #009688;
}
.estab-info h2 {
  font-size: 3em;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
.product-image {
  width: 72px;
  height: 72px;
  background-color: #fff;
  border: none;
}
@media only screen and (min-width: 1224px) {
  .card-show-hide {
    height: 70%;
    width: 400px;
    padding: 5px 10px;
    max-height: 600px;
    position: absolute;
    right: 10px;
    top: 100px;
    box-shadow: 0 0 4px rgba(44,44,44,0.75);
    overflow: hidden;
    transform-origin: top right;
    -webkit-transition: transform 500ms ease-in, opacity 300ms ease-in;
    -moz-transition: transform 500ms ease-in, opacity 300ms ease-in;
    -o-transition: transform 500ms ease-in, opacity 300ms ease-in;
    -ms-transition: transform 500ms ease-in, opacity 300ms ease-in;
    transition: transform 500ms ease-in, opacity 300ms ease-in;
  }
  .card-show-hide.ng-hide {
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
  }
  .card-show-hide.ng-show {
    transform-origin: top right;
    transform: scale(1);
    opacity: 1;
  }
}
@media only screen and (max-width: 1224px) {
  .estab-info {
    width: 100%;
    height: 200px;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }
  .estab-info .estab-products {
    visibility: hidden;
  }
}
