<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/homestyle.css">
	<title>Pitstop</title>
</head>
<body>
	<div id="header">
		<h2>Pitstop by Dilimanlabs</h2>
		<p class="email">dilimanlabs@gmail.com</p>
	</div>
	<div class="container">
		<div id="nav">
		</div>
		<div id="content">
			<img src="/pitstop-preview.png" width="100%" alt="Pitstop preview" style="margin: 60px auto"/>
		</div>
		<div id="footer">
		</div>
	</div>
</body>

</html>

.navbar-header .navbar-brand {
  background-image: url(images/pitstop.png);
  height: 55px;
  width: 55px;
  float: left;
  overflow: hidden;
  white-space: nowrap;

}